<mat-card *ngFor="let photo of photos">
  
  <mat-card-subtitle>
    {{ photo.title }}
  </mat-card-subtitle>

  <img [src]="photo.thumbnailUrl" mat-card-image>
  
  <mat-card-content>
    <p> Albun Id {{  photo.albumId }}</p>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button mat-raised-button [href]="photo.url" target="_blank">
      sh image
    </a>
    <button mat-button mat-flat-button color="primary" (click)="click()">
      Click
    </button>
  </mat-card-actions>

</mat-card>